<h2>My Games</h2>
<table>
<tr><th>Score</th><th>Created at date</th><th>Comments</th><th></th><th></tr>
<% @bowling_games.each do |bowling_game| %>
	<tr>
	<td><%= bowling_game.score %></td>
	<td><%= bowling_game.created_at %></td>
	<td>
		<% bowling_game.comments.each_with_index do |comment, index| %><%= comment.body %>
			<% if index != bowling_game.comments.length - 1 %>
				, 
			<% end %>
		<% end %>
	</td>
	<td><%= link_to "New Comment", "/bowling_games/#{bowling_game.id}/new-comment" %> <%= link_to "View Game", bowling_game_path(bowling_game.id) %></td>
	</tr>
	<% end %>
</table>
<p>Average Score: <%= number_with_precision(@average_score, precision: 2) %></p>
<%= link_to "New Game", new_bowling_game_path %>
