<h2>Total score: <%= @bowling_game.score %> </h2>
<h3>Frames</h3>
<% @bowling_game.frames.each do |frame| %>
<div>
	<h4>Frame <%= frame.number %></h4>
	<p> First Throw: <%= frame.first_throw %> </p>
	<p> Second Throw: <%= frame.second_throw %> </p>
	<% if frame.number == 10 && frame.third_throw %>
		<p> Third Throw: <%= frame.third_throw %>
	<% end %>
</div>
<% end %>
<h3>Comments</h3>
<% @bowling_game.comments.each do |comment| %>
	<p><%= comment.body %></p>
<% end %>
